html {
  font-family: "Noto Serif", serif;
}

header,
footer {
  background-color: #70ad55;
  color: #fff;
}

.size {
  margin-bottom: .2em;
}

.sizes {
  margin-bottom: .1em;
}

.pushaway {
  margin-bottom: 1.5em;
}
